body {
    max-width: 1300px;
    width: 100%;
    margin: 0px auto;
    font-family: 'Gotham Book';

    h1, h2, h3 {
        font-family: 'Gotham Medium';
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    .btn {
        font-size: 14px;
        line-height: 24px;
        font-family: 'Gotham Light';
        border-radius: 0;
    }

    .btn.__lg {
        min-width: 310px;
        height: 40px;
        margin: 0 auto;
    }

    .__primary {
        background-color: $footer-blue;
        color: #fff;
        border: 1px solid transparent;

        &:hover {
            background-color: transparent;
            color: $footer-blue;
            border: 1px solid $footer-blue;
        }
    }

    .__outlined {
        color: $footer-blue;
        border: 1px solid $footer-blue;

        &:hover {
            background-color: $footer-blue;
            color: #fff;
        }
    }
}

section {

    p {
        color: $ash-grey;
    }

    hr {
        border: 1px solid $hr-grey;
        margin: 20px auto;
    }

    color: $slate-grey;

    @media only screen and (max-width: 768px) {
        .resp-hide {
            display: none;
        }
    }

    .add-padding {
        padding: 50px;

        @media only screen and (max-width: 768px) {
            padding: 0;
        }
    }

    .bg-blue {
        background-color: $s-blue;
    }
    .bg-red {
        background-color: $s-red;
    }
    .bg-violet {
        background-color: $s-violet;
    }
    .bg-sblue {
        background-color: $sky-blue;
    }
    .bg-orange {
        background-color: $s-orange;
    }
    .bg-green {
        background-color: $s-green;
    }

    & .lnv-services {
        .hero-banner {
            position: relative;
            img {
                width: 100%;
                height: 400px;
            }
            .mb-img {
                display: none;
            }
            .hero-text {
                & h1 {
                    font-size: 56px;
                    line-height: 60px;
                    margin: 0;
                }
                position: absolute;
                top: 40%;
                left: 28%;
                bottom: 0;
                text-align: center;
                color: white;
            }

            @media only screen and (max-width: 575px) {
                .mb-img {
                    display: block;
                }

                .ds-img {
                    display: none;
                }

                .hero-text {
                    left: unset;
                    top: 25%;
                }
            }
        }

        .partner-details {
            background-color: $bg-grey;
            padding: 50px;

            .checklist-forms {
                label {
                    font-family: 'Gotham Medium';
                    font-size: 14px;
                    line-height: 24px;
                    color: $slate-grey;
                }
            }

            .details-title {
                font-size: 32px;
                line-height: 44px;
                margin-bottom: 15px;
            }

            @media only screen and (max-width: 575px) {
                padding: 35px;
            }
        }
    }
    .checklist-forms {
        label {
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        input {
            margin-bottom: 20px;
        }

        input,
        select {
            width: 100%;
            height: 40px;
            padding: 0 15px;
            border: 1px solid $hr-grey;
            cursor: pointer;
        }

        @media only screen and (max-width: 575px) {
            select {
                margin-bottom: 15px;
            }
        }
    }

    //Style Accordion

    .accordion {
        background-image: url("/images/Lenovo-Circle-Half.svg");
        background-repeat: no-repeat;
        background-position: left center;
        margin-top: 20px;
    }

    div.accordion {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 120px;
        border: none;
        text-align: left;
        color: white;
        padding: 0 20px;
        cursor: pointer;
        transition: background-color 0.2s linear;
        position: relative;

        &:after {
            content: url('/images/cheveron-right.svg');
            font-family: "fontawesome";
            max-width: 36px;
            max-height: 38px;
            float: right;
            position: absolute;
            right: 35px;
        }

        &.is-open:after {
            transform: rotate(90deg);
        }


        h3 {
            font-family: 'Gotham Light';
            font-size: 32px;
            line-height: 44px;
            margin-left: 15px;
        }

        // &:hover,
        // &.is-open {
        //   background-color: #ddd;
        // }

        .title-img {
            max-width: 95px;
            float: left;
        }

        @media only screen and (max-width: 768px) {
            font-size: 22px;
            line-height: 28px;
        }
    }

    .accordion-content {
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
        background-color: $bg-grey;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;

        & .checklist-forms {
            padding: 25px 15px;

            label {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 10px;
                font-family: 'Gotham Bold';
                color: $slate-grey;
                position: relative;

                &::after {
                    content: url("/images/Info.svg");
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    right: -20px;
                    top: 2px;
                }
            }

            .s-head-text,
            .s-description {
                color: $slate-grey;
            }

            .s-head-text {
                font-size: 20px;
                font-family: "Gotham Medium";
            }

            .s-description {
                font-size: 16px;
                font-weight: 300;
                line-height: 26px;
            }
        }
    }
}
