// Service and opportunities variables
$ash-grey: #6f7170;
$text-color: #2F2924;
$bg-grey: #f8f8f8;
$cubic: cubic-bezier(.64,.09,.08,1);
$footer-grey: #EFEFEF;
$footer-blue: #2F8EDE;
$hr-grey: #d5d4d3;
$peach-blue: #f2faff;
$s-blue: #008fe5;
$s-red: #e22119;
$s-violet: #8c40b3;
$sky-blue: #47c1e1;
$slate-grey: #454545;
$s-orange: #ff6a00;
$s-green: #6ac04a;
